<h1>Listing flat_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @flat_types.each do |flat_type| %>
      <tr>
        <td><%= flat_type.name %></td>
        <td><%= link_to 'Show', flat_type %></td>
        <td><%= link_to 'Edit', edit_flat_type_path(flat_type) %></td>
        <td><%= link_to 'Destroy', flat_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flat type', new_flat_type_path %>
