<p id="notice"><%= notice %></p>

<p>
  <strong>Lon:</strong>
  <%= @flat.lon %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @flat.lat %>
</p>

<%= link_to 'Edit', edit_flat_path(@flat) %> |
<%= link_to 'Back', flats_path %>
